.box {
  width: 100px;
  height: 100px;
  margin: 40px;
  /* margin will create gap between all three colors */
}

#org {
  background-color: orange;
  margin: 10px;
  padding: 20px;
}

#wht {
  background-color: red;
  margin: 10px;
}

#grn {
  background-color: green;
}
