div {
  /* to display content in horizontal line --> display: inline-block; */
  width: 1200px;
  height: 1200px;
  background-color: aqua;
  border: 1px solid red;
  position: fixed;
}

.box {
  position: relative;
  top: 100px;
  left: 20px;
}

.box1 {
  width: 100px;
  height: 100px;
  background-color: aqua;
  border: 1px solid green;
}
