div {
  /* to display content in horizontal line --> display: inline-block; */
  width: 200px;
  height: 200px;
  background-color: aqua;
  border: 1px solid red;
}

.box {
  position: relative;
  top: 100px;
  left: 20px;
}
